body {
    padding-top: 5rem;
}

.starter-template {
    text-align: center;
}

h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

table {
    color: blue;
    font-size: xx-large;
    text-align: center;
}

input {
    width: 70px;
}
