<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Exampler</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Exampler</a>
        <a class="navbar-brand" href="#" onclick="getResult()">Check</a>
    </nav>

    <main role="main" class="container">
        <table class="table">
            <input id="ex-mode" type="hidden" th:value="${session.train}">
            <tr th:each="example : ${examples}">
                <th:block th:each="term : ${example.terms}">
                    <td th:if="${term.hidden}">
                        <th:block th:switch="${example.type.name()}">
                            <input th:case="*" th:input-id="${example.id}" type="number" required="true">
                            <select th:case="'ONE_ACTION_COMPARING'" th:input-id="${example.id}" name="type" required="true">
                                <option disabled selected></option>
                                <option value="&lt;">&lt;</option>
                                <option value="&gt;">&gt;</option>
                                <option value="=">=</option>
                            </select>
                        </th:block>
                    </td>
                    <td th:unless="${term.hidden}" th:text="${term.show()}" />
                </th:block>
                <td>
                    <button th:id="${example.id}" type="button" class="btn btn-info" onclick="check(this)">Проверить</button>
                </td>
            </tr>
        </table>
    </main>
<!-- /.container -->

    <script type="text/javascript" th:src="@{/css/main.js}"></script>
    <script type="text/javascript" th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="color:red">Неверно!</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Результат</h5>
            </div>
            <div class="modal-body">
                <h2 style="color:green">Умничка!</h2>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="resultModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <b>Ошибок</b>
                        </div>
                        <div class="col">
                            <b>Решено</b>
                        </div>
                        <div class="col">
                            <b>Всего примеров</b>
                        </div>
                        <div class="col">
                            <b>Всё решено?</b>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div id="failed" class="col">
                        </div>
                        <div id="resolved" class="col">
                        </div>
                        <div id="total" class="col">
                        </div>
                        <div id="done" class="col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>