<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Exampler</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Uncle Sania</a>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h2>
                <span>Заполни форму</span>
            </h2>
        </div>

        <form action="/examples" method="post">
            <div class="form-group">
                <label for="minLimit">Нижний предел</label>
                <input type="number" class="form-control" id="minLimit" placeholder="0" name="minLimit">
            </div>
            <div class="form-group">
                <label for="maxLimit">Верхний предел</label>
                <input type="number" class="form-control" id="maxLimit" placeholder="10" name="maxLimit">
            </div>
            <div class="form-group">
                <label for="count">Количество примеров</label>
                <input type="number" class="form-control" id="count" placeholder="10" name="count">
            </div>
            <div class="form-group">
                <label for="ex-type">Вид примеров</label>
                <select id="ex-type" name="type" class="browser-default custom-select">
                    <option value="ONE_ACTION" selected>В одно действие</option>
                    <option value="TWO_ACTION">В два действия</option>
                    <option value="ONE_ACTION_COMPARING">В одно действие на сравнение</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ex-train">Тренеровочный?</label>
                <input id="ex-train" type="checkbox" class="form-control" name="train">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
</body>
</html>
